.confirmation-page {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
}