@import '../../assets/sass/colors.scss';

.hero {
    height: 400px;
    background-color: $green;

    .hero-content {

        .hero-text-wrapper {
            padding: 10px;
            background-color: rgba($color: #000000, $alpha: 0.8);
            border-radius: 25px;
            width: 50%;

            @media (max-width: 768px) {
                width: 90%;
            }

            h1,
            h2,
            h3,
            h4 {
                color: $yellow_weak;
            }
        }
    }
}